

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Didot;
    src: url(../../fonts/Didot-Regular.ttf);
}

@font-face {
    font-family: Liberation-Mono;
    src: url(../../fonts/LiberationMono-Regular.ttf);
}

body {
    background-color: #92DCE5;
    color: white;
}

body h1 {
    font-family: Ditot;
    size: 40px;
}

body p {
    size: 12px;
    font-family: Liberation-Mono;
}

header,
section,
aside,
footer {
    border: 1px solid grey;
    min-height: 100px;
}

#maingrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
			"nav header header header"
			"nav bigbox bigbox smallbox"
			"nav bigbox bigbox smallbox"
            "nav bigbox bigbox smallbox";
    gap: 2%;}

.bigbox {
    background-color: #312d2d;
    border-radius: 25px;
    display: flex;
    grid-area: bigbox;
}

.box-content {
    padding: 10px;
    min-height: 100%;
}

.box-content p {
    word-break: break-all;
}

.smallbox {
    background-color: #333333;
    border-radius: 25px;
    display: flex;
    grid-area: smallbox;
}

.navbox {
    background-color: #333333;
    border-radius: 25px;
    display: block;
    grid-area: nav;
    position: fixed;
    top: 30%;
}

.navmenu {
    display: block;
    grid-area: "navmenu";
    background-color: #333333;
    border-radius: 25px;
    padding: 100px;
    text-align: center;
}

.headbox {
    border-radius: 25px;
    display: flex;
    grid-area: header;
    padding-left: 20px;
    background-color: #333333;
}

@media screen and (min-width: 1050px) {
    #maingrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "nav header header header"
        "nav bigbox bigbox smallbox"
        "nav bigbox bigbox smallbox"
        "nav bigbox bigbox smallbox";
        gap: 2%;
    }
}

@media screen and (max-width: 1050px) {
    #maingrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
                "header header"
                "nav nav"
                "bigbox bigbox"
                "smallbox smallbox";
        gap: 2%;
    }

    .navbox {
        display: flex;
        grid-area: nav;
        position: relative;
        top: 0%;
    }

    .navmenu {
        grid-area: "navmenu";
        background-color: #333333;
        border-radius: 25px;
        padding: 10px;
        text-align: center;
    }
}
