

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Didot;
    src: url(../../fonts/Didot-Regular.ttf);
}

@font-face {
    font-family: Liberation-Mono;
    src: url(../../fonts/LiberationMono-Regular.ttf);
}

body {
    background-color: #92DCE5;
    color: white;
}

body h1 {
    font-family: Ditot;
    size: 40px;
}

body p {
    size: 12px;
    font-family: Liberation-Mono;
}

header,
section,
aside,
footer {
    border: 1px solid grey;
    min-height: 100px;
}

#maingrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
			"menu header header header"
			"menu bigbox bigbox smallbox"
			"menu bigbox bigbox smallbox"
            "menu bigbox bigbox smallbox";
    gap: 2%;}

.bigbox {
    background-color: #312d2d;
    border-radius: 25px;
    display: flex;
    grid-area: bigbox;
}

.box-content {
    padding: 10px;
    min-height: 100%;
}

.box-content p {
    word-break: break-all;
}

.smallbox {
    background-color: #333333;
    border-radius: 25px;
    display: flex;
    grid-area: smallbox;
}

.headbox {
    border-radius: 25px;
    display: flex;
    grid-area: header;
    padding-left: 20px;
    background-color: #333333;
}

@media screen and (min-width: 1050px) {
    #maingrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "menu header header header"
        "menu bigbox bigbox smallbox"
        "menu bigbox bigbox smallbox"
        "menu bigbox bigbox smallbox";
        gap: 2%;
    }
}

@media screen and (max-width: 1050px) {
    #maingrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
                "header header"
                "menu menu"
                "bigbox bigbox"
                "smallbox smallbox";
        gap: 2%;
    }

    .navbox {
        display: flex;
        grid-area: nav;
        position: relative;
        top: 0%;
    }

    .navmenu {
        grid-area: "menu";
        background-color: #333333;
        border-radius: 25px;
        padding: 10px;
    }

    #navTag1 {
        grid-area: navTag1;
    }

    #navTag2 {
        grid-area: navTag2;
    }

    #navTag3 {
        grid-area: navTag3;
    }

    #contents-news {
        grid-area: contents-news;
        margin-left: -10%;
    }

    #contents-developers {
        grid-area: contents-developers;
        margin-left: -10%;
    }

    #contents-about {
        grid-area: contents-about;
        margin-left: -10%;
    }
}
