* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

header,
section,
aside,
footer {
    border: 1px solid grey;
}

#container {
    margin: 0 auto;
    width: 100%;
    display: grid;


    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
			"menu header header header"
            "menu big-article big-article sidebar"
			"menu article1 article2 sidebar"
            "menu footer footer footer";
    gap: 2%;
}

.header {
    grid-area: header;
}

.article1 {
    grid-area: article1;
}

.article2 {
    grid-area: article2;
}

.sidebar {
    grid-area: sidebar;
}

.big-article {
    grid-area: big-article;
}

.footer {
    grid-area: footer;
    width: auto;
    height: auto;
}

.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
}



















@media only screen and (max-width: 960px) {
    body {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.15fr 0.1fr 1fr;
        grid-template-areas:
            "menu"
            "intro"
            "announcements";
    }

    #navTag1 {
        grid-area: navTag1;
    }

    #navTag2 {
        grid-area: navTag2;
    }

    #navTag3 {
        grid-area: navTag3;
    }

    #contents-news {
        grid-area: contents-news;
        margin-left: -10%;
    }

    #contents-developers {
        grid-area: contents-developers;
        margin-left: -10%;
    }

    #contents-about {
        grid-area: contents-about;
        margin-left: -10%;
    }
}