* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Liberation-Mono;
    src: url("../../fonts/LiberationMono-Regular.ttf");
}

body {
    background: #fafafa;
    padding: 0;
    margin: 0;
}

header,
section,
aside,
footer {
    font-family: Liberation-Mono, serif;
    hyphens: auto;
    font-size: 15px;
}

.borders {
    border: 4px solid transparent;
    border-radius: 15px;
    background-image: linear-gradient(white, white), linear-gradient(to bottom right, #92DCE5, #333333);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 3px 15px #333333, inset 0 0 15px #92DCE5;
}

#container {
    margin: 0 auto;
    width: 100%;
    display: grid;

    grid-template-columns: .76fr 1fr 1fr .5fr .1fr;
    grid-template-rows: auto auto 2fr .5fr .2fr;
    grid-template-areas:
			"menu header header header ."
            "menu big-article big-article sidebar ."
			"menu article1 article2 sidebar ."
            "menu footer footer footer ."
            "menu . . . .";
    gap: 2%;
}

.header {
    grid-area: header;
}

.article1 {
    grid-area: article1;
}

.article2 {
    grid-area: article2;
}

.sidebar {
    grid-area: sidebar;
}

.big-article {
    grid-area: big-article;
}

.footer {
    grid-area: footer;
    width: auto;
    height: auto;
}

.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px;
}

.inner-grid-big {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
}

.inner-grid-big img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border-right: 4px solid transparent;
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
    border-radius: 10px 0 0 10px;
}

.inner-grid-big p {
    padding: 25px;
}

.inner-grid-big b {
    font-size: 20px;
}

.inner-grid-small {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
            "p-text-first small-article-img"
            "p-text-second p-text-second";
    grid-gap: 2%;
}

.article1 img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border-top: 0;
    border-right: 0;
    border-radius: 0 10px 0 0;
}

.inner-grid-small p {
    padding: 25px;
}

.p-text-first {
    grid-area: p-text-first;
    margin-top: 3px;
    margin-left: 3px;
}

.p-text-first b {
    font-size: 16px;
}

.add-margin-top {
    margin-top: -60px;
}

.p-text-second {
    grid-area: p-text-second;
}

.small-article-img {
    grid-area: small-article-img;
}

.inner-grid-small-cover {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            "small-article-img-cover"
            "p-text-big";
}

.inner-grid-small-cover p {
    padding: 25px;
}

.article2 img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border-bottom: 4px solid transparent;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-radius: 10px 10px 0 0;
}

.small-article-img-cover {
    grid-area: small-article-img-cover;
}

.p-text-big {
    grid-area: p-text-big;
}

.p-text-big b {
    font-size: 16px;
}



aside {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "first-content"
            "second-content"
            "third-content"
            "fourth-content"
            "fifth-content"
            "sixth-content";
}

.padding-to-sidebar {
    padding-left: 25px;
    padding-right: 20px;
}

.first-content {
    grid-area: first-content;
}

.inner-grid-sidebar h1 {
    text-align: center;
    font-family: Didot, serif;
}

.first-content-img {
    border-radius: 0 0 0 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 0;
    border-right: 0;

    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.second-content {
    grid-area: second-content;
}

.middle-content-img {
    border-radius: 0 0 0 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 0;
    border-right: 0;

    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.third-content {
    grid-area: third-content;
}

.fourth-content {
    grid-area: fourth-content;
}

.fifth-content {
    grid-area: fifth-content;
    display: none;
}

.fifth-content-img {
    display: none;
    border-radius: 0 0 0 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 0;
    border-right: 0;

    object-fit: cover;
    width: 100%;
    max-height: 50%;
}

.sixth-content {
    grid-area: sixth-content;
    display: none;
}

.sixth-content-img {
    display: none;
    border-radius: 0 0 0 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 0;
    border-right: 0;

    object-fit: cover;
    width: 100%;
}

.stretched-gif {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "area-1 area-2";
    display: inline-block;
    border-radius: 10px;
    width: 50%;
    height: 100%;
}

.area-1 {
    grid-area: area-1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.area-2 {
    grid-area: area-2;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@media only screen and (min-width: 1920px) {
    .inner-grid-big {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
                    "desktop-media desktop-p";
        grid-gap: 0;
    }
}

@media only screen and (max-width: 1920px) {
    #container {
        grid-template-columns: 1.1fr 1fr 1fr 1fr .5fr .1fr;
        grid-template-rows: auto auto 2fr .5fr .2fr;
        grid-template-areas:
          "menu header header header header ."
          "menu big-article big-article sidebar sidebar ."
          "menu article1 article1 article2 article2 ."
          "menu footer footer footer footer ."
          "menu . . . . .";
    }

    .inner-grid-big {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr;
        grid-template-areas:
                    "desktop-media"
                    "desktop-p";
        grid-gap: 0;
    }

    .fifth-content-img {
        display: none;
    }

    .fifth-content {
        display: none;
    }

    .desktop-media {
        grid-area: desktop-media;
    }

    .inner-grid-big img {
        border-radius: 0 10px 0 0;
        border-right: 0;
        border-bottom: 4px solid transparent;
        border-left: 4px solid transparent;
    }

    .desktop-p {
        grid-area: desktop-p;
    }

    .desktop-p1 {
        grid-area: desktop-p1;
    }

    .inner-grid-big img {
        height: 100%;
        border-left: 0;
        border-top-left-radius: 10px;
    }

    .inner-grid-small {
        display: grid;
        grid-template-columns: .7fr 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
                "p-text-first small-article-img"
                "p-text-second p-text-second";

        grid-gap: 0;
    }

    .article1 img {
        border-left: 4px solid transparent;
        border-top-left-radius: 0;
    }

    .middle-content-img {
        height: 200px;
    }

}

@media screen and (max-width: 1440px) {

    #container {
        margin: 0 auto;
        width: 100%;
        display: grid;

        grid-template-columns: 1.3fr 3fr 1fr .1fr;
        grid-template-rows: auto 1fr .5fr .5fr .2fr;
        grid-template-areas:
			"menu header header ."
            "menu big-article sidebar ."
			"menu article1 sidebar ."
            "menu article2 article2 ."
            "menu footer footer ."
            "menu . . .";
        gap: 2%;
    }

    .fifth-content {
        display: grid;
    }

    .fifth-content-img {
        display: grid;
    }

    .sixth-content {
        display: grid;
    }

    .sixth-content-img {
        display: grid;
    }

    .inner-grid-small {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
                "small-article-img p-text-first"
                "p-text-second p-text-second";
        grid-gap: 0;
    }

    .article1 img {
        height: 100%;
        border-left: 0;
        border-right: 4px solid transparent;
        border-top-right-radius: 0;
        border-top-left-radius: 10px;
    }

    .add-margin-top {
        margin-top: 0;
    }

    .inner-grid-small p {
        margin-top: 0;
    }

    .inner-grid-big {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0;
    }
}

@media screen and (max-width: 960px) {
    #container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 1fr .1fr;
        grid-template-rows: 0fr .1fr 1fr .5fr .5fr .1fr;
        grid-template-areas:
            "menu menu menu"
            "header header header"
            "big-article big-article sidebar"
            "article1 article1 sidebar"
            "article2 article2 article2"
            "footer footer footer";
    }

    .article1 img {
        height: 70%;
    }

    .inner-grid-small .p-text-first {
        margin-top: 0;
    }

    .inner-grid-small p {
        margin-top: -10%;
    }

    .stretched-gif {
        grid-template-columns: 1fr;
        grid-template-areas: "area-1";
        width: 100%;
        height: 200%;
        border-radius: 0;
    }

    .area-2 {
        display: none;
    }

}

@media screen and (max-width: 768px) {
    #container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas:
            "menu menu"
            "header header"
            "big-article big-article"
            "article1 article1"
            "article2 article2"
            "sidebar sidebar"
            "footer footer";
    }


}