/*
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/
*{
    box-sizing:
    borderd-box;
    padding: 0;
    margin: 0;
}
:root{
    --heading:
    'Montserrat',
    'sans-serif';
}
body{
    font-family: 
    'Raleway',
    sans-serif;
    background: #fff;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:#000;
}
hr{
    width: 95vw;
    margin: 0 auto;
}
.top-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: #252525;
    color: #fff;
    padding: 20px 30px;

}
.top-head .fas{
    font-size: 2rem;
    cursor: pointer;
}