@font-face {
    font-family: Didot Regular;
    src: url("../fonts/Didot Regular.ttf");
}

.door {
    overflow: hidden;
}

.door-section {
    float: left;
    position: relative;
}

.door-section-left {
    transform: translateX(-15%);
}

.door-section-right {
    transform: translateX(15%);
}

.door-reveal {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 56%;

    margin-top: 10%;
}

input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    margin-left: 41%;
    margin-top: 10%;
    width: 17%;
    height: 50%;
    z-index: 100;
    opacity: 0;
}

input[type=checkbox]:checked ~ div.door-section-left {
    transform: translateX(0);
}


input[type=checkbox]:checked ~ div.door-section-right {
    transform: translateX(0);
}

input[type=checkbox]:not(:checked){
    pointer-events: none;
}

.right-door {
    margin-top: 20%;
}

.left-door {
    margin-top: 20%;
    float: right;
}

.door-section {
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 2;
    transition: all 2s ease-in-out;
}

.enter {
    color: black;
    text-align: center;
    margin-top: 8%;
    font-size: 100px;
    text-decoration: none;
    font-family: "Didot Regular", serif;
}
.enter a {
    z-index: 95;
    text-decoration: none;
}