@font-face {
  font-family: Unicorn;
  src: url("../font/GoodUnicornTTF.ttf");
}

body {
    background-color: white;
    background-image: url("../img/background.png");
    background-size: cover;
    font-family: Unicorn;
    color: rgb(77, 77, 77);
}

p {
    color: rgb(77, 77, 77);
    size: 14px;
    align-self: center;  
}

h5 {
    color: black;
    size: 24px;
    align-self: center;    
}

.flex-container {
    display: flex;
    align-self:center;
    flex-direction: column;
    background-color: white;
    font-size: 12px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
 
  .flex-container-picture-top {
    align-self: center;
    width: 200px;
    height: 200px;
  }

  .flex-container-picture-top img {
    align-self: center;
    max-height: 200px;
    max-width: 200px;
  }

  .flex-container-row {
    background-color: white;
    width: 85%;
    flex-direction: row;
    display: flex;
    align-self: center;
    align-items: left;
  }
  
  .flex-container-headline {
    width: 85%;
    align-self: center;
    text-align: center;
    font-size: 30px;
  }

  .flex-container-headline-border {
    width: 85%;
    height: 50px;
    padding-bottom: 15px;
    background-image: url("../img/headline-bg.jpg");
    align-self: center;
    text-align: center;
    background-repeat: repeat-x;
    font-size: 30px;
  }
  .flex-container-headline-border {
    width: 85%;
    padding-bottom: 15px;
    background-image: url("../img/headline-bg.jpg");
    align-self: center;
    text-align: center;
    background-repeat: repeat-x;
    font-size: 30px;
  }
 
  .flex-container-text {
    background-color: white;
    text-align: left;
    padding: 1rem;
    height: 100%;
    width: 85%;
  }


  .flex-container-right {
    background-color: white;
    align-self: flex-end;
  }

  .flex-container-right img{
    background-color: white;
    max-width: 100%;
    min-width: 25%;
    max-height: 200px;
    align-self: flex-end;
  }

  .flex-container-picture {
    background-color: white;;
    max-height: 200px;
    max-width: 140px;
    padding: 1rem;
    flex-wrap: wrap;
    align-self: center;
  }
  
  .flex-container-picture img {
    max-width: 100%;
    max-height: 100%;
    align-self: flex-end;
  }
  
  .flex-container-left-inline-small {
    background-color: white;
    padding: 1rem;
    max-width: 10%;
    height: 100%;
    margin: 1rem;
  }
  
  .flex-container-left-inline-small img {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
  }
  
  .flex-container-text h1 {
    text-align: left;
    font-size: 20px;
  }
  .flex-container-text h2 {
    text-align: left;
    font-size: 16px;
  }
  
  .flex-container-text p {
    text-align: left;
    font-size: 16px;
  }
  