* {
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    margin-block-start: 0;
    margin-block-end: 0;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background: transparent;
    height: 100vh;
    width: 100vw;
}

@font-face {
    font-family: Pacifico;
    src: url("../../fonts/Pacifico-Regular.ttf");
}

@font-face {
    font-family: Nunito;
    src: url("../../fonts/Nunito-Regular.ttf");
    src: url("../../fonts/Nunito-Bold.ttf");
}

#container,
#container3,
#container5 {
    min-height: 10em;
    position: relative;
}

#container2,
#container4 {
    min-height: 10em;
    position: relative;
    background-color: #2e1f27;
}

#container h1,
#container3 h1,
#container5 h1 {
    color: #604f6f;
    padding: 30px;
    display: flex;
    justify-content: center;
}

#container2 h1,
#container4 h1 {
    color: #fafafa;
    padding: 30px;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: Pacifico, serif;
    max-width: 100%;
    font-size: 65px;
}

.heading-titles {
    color: #92dce5;
    font-size: 120%;
    font-family: Nunito, bold, serif;
    margin-top: 20%;
}

.content-box-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
}

.content-box-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.content-box-column img {
    background: linear-gradient(to right, #604f6f, #92dce5);
    padding: 3px;
}

.heading-content {
    font-size: 120%;
}

.heading-box {
    grid-area: heading-box;
    width: 35%;
    margin: auto;
    justify-content: center;
}


.arrow-down img {
    color: #92dce5;
    height: 50px;
    width: auto;
    position: absolute;
    top: 93vh;
    left: 50%;
}

.new-page {
    height: 100vh;
}

.second-page,
.fourth-page {
    background-color: #2e1f27;
}

.third-page,
.fifth-page {
    background-color: #fafafa;
}

.point-to-other-direction {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}


.work-experience {
    display: flex;
    color: #92dce5;
}

.headline {
    display: flex;
    grid-area: header;
    justify-content: center;
    align-items: center;
}

.content {
    grid-area: content;
    border: 1px solid grey;
}

[class*="box"] {
    font-family: Nunito, serif;
}

.space {
    margin: 25px 25px 25px -20%;
}

.boxes {
    display: flex;
}

.box-info-first {
    flex-basis: 48%;
    display: flex;
    order: 1;
    padding-right: 20px;
    flex-direction: column;
    text-align: right;
}

.work-experience {
    display: flex;
    padding: 0 0 20px;
    position: relative;
}

.box-info-title {
    color: #fafafa;
}

.box-info-title-3s {
    color: #2e1f27;
    text-transform: uppercase;
}

.box-info-company-name {
    color: #92dce5;
}

.box-info-detail {
    color: #fafafa;
}

.box-icon-second {
    position: relative;
    flex-basis: 5%;
    order: 2;
}

.box-icon-second-detail {
    border: 3px #92DCE5 solid;
    background-color: #fafafa;
    border-radius: 70%;
    font-size: 2.3rem;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box-dot-third {
    order: 3;
    position: relative;
    flex-basis: 8%;
    display: flex;
    justify-content: center;
}

.box-dot-workexperience {
    width: 15px;
    height: 15px;
    position: absolute;
    border: 8px #92DCE5 solid;
    top: 20px;
    border-radius: 50%;
}

.box-date-fourth {
    order: 4;
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    align-items: flex-start;
    font-size: 120%;
}

.box-date-workexperience {
    display: inline-block;
    text-align: center;
    background-color: #92DCE5;
    color: #2e1f27;
    border: 1px #92DCE5 solid;
    border-radius: 20px;
    font-weight: 700;
    position: relative;
    padding: 15px;
    font-family: Nunito, serif;
}

.qualification-section {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.qualification-wrap {
    margin-bottom: 30px;
    display: flex;
    left: -20%;
    flex-direction: column;
    position: relative;
    font-family: Nunito, serif;
}

.qualification-category {
    color: #92dce5;
    font-size: 2.6rem;
    margin-bottom: 10px;
    display: flex;
    align-self: center;
}

.qualifications {
    color: #fafafa;
    display: block;
    padding-left: 10px;
    line-height: 34px;
}

.qualification {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-bottom: 15px;
}

.qualification-name {
    display: inline-block;
    font-size: 21px;
    padding-right: 30px;
    text-align: right;
    width: 50%;
}

.qualification-bar {
    margin-left: 35px;
    display: inline-block;
    text-align: left;
    border: 2px solid #92DCE5;
    border-radius: 30px;
    width: calc(50% - 35px);
    font-weight: 700;
}

.progress-5 {
    content: '';
    display: block;
    background: #92DCE5;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.progress-4 {
    content: '';
    display: block;
    background: #92DCE5;
    width: 80%;
    height: 100%;
    border-radius: 30px;
}

.progress-3 {
    content: '';
    display: block;
    background: #92DCE5;
    width: 60%;
    height: 100%;
    border-radius: 30px;
}

.progress-2 {
    content: '';
    display: block;
    background: #92DCE5;
    width: 40%;
    height: 100%;
    border-radius: 30px;
}

.progress-1 {
    content: '';
    display: block;
    background: #92DCE5;
    width: 20%;
    height: 100%;
    border-radius: 30px;
}

.progress-0 {
    content: '';
    display: block;
    background: #92DCE5;
    width: 0;
    height: 100%;
    border-radius: 30px;
}

.social-box {
    display: flex;
    justify-content: center;
}

.social-box p {
    font-size: 22px;
}

.social-box-padding {
    margin-left: -10%;
    padding-right: 100px;
}


@media screen and (min-width: 1440px) {

    .heading-box {
        margin: auto;
        flex-direction: column;
        display: flex;
        justify-content: center;
        min-width: 55%;
        padding-left: 100px;
        height: 70%;
    }

    .heading-box {
        margin-bottom: auto;
        margin-top: auto;
    }

    .heading-titles {
        margin-top: 10%;
    }

    .content-box-row {
        width: 80%;
    }

    .arrow-down img {
        display: flex;
        justify-content: center;
    }

    .social-box {
        margin-left: 2%;
    }

    .social-box .fa {
        font-size: 10em;
    }

    .social-box p {
        font-size: 25px;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {

    .heading-box {
        margin: auto;
        flex-direction: column;
        display: flex;
        justify-content: center;
        min-width: 55%;
        padding-left: 100px;
        height: 70%;
    }

    .social-box .fa {
        font-size: 10em;
    }

    .social-box p {
        font-size: 25px;
    }

}

@media screen and (max-width: 1200px) and (min-width: 960px) {

    .heading-box {
        min-width: 55%;
    }

    .social-box {
        margin-left: 10%;
    }

    .social-box .fa {
        font-size: 10em;
    }

    .social-box p {
        font-size: 25px;
    }
}

@media screen and (max-width: 960px) and (min-width: 768px) {

    .heading-box {
        min-width: 80%;
    }

    .tablet-screen-education {
        margin-left: 20%;
    }

    .social-box {
        margin-left: 10%;
    }

    .social-box .fa {
        font-size: 10em;
    }

    .social-box p {
        font-size: 25px;
    }

}

@media screen and (max-width: 768px) {

    #container2 h1,
    #container4 h1 {
        font-size: 270%;
    }

    .heading-box {
        min-width: 96%;
    }

    .tablet-screen-experience {
        margin-left: 10%;
    }

    .tablet-screen-education {
        margin-left: 20%;
    }

    .social-box {
        margin-left: 10%;
    }

    .social-box .fa {
        font-size: 6em;
    }

    .social-box p {
        font-size: 22px;
    }
}

@media screen and (max-width: 610px) {

    #container h1,
    #container3 h1,
    #container5 h1 {
        font-size: 280%;
    }

    #container2 h1,
    #container4 h1 {
        font-size: 270%;
    }

    .small-screen {
        display: grid;

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
                "box-date-workexperience box-date-workexperience box-date-workexperience"
                "box-date-fourth box-date-fourth box-date-fourth"
                "box-info-first box-info-first box-info-first";
    }

    .heading-box {
        min-width: 85%;
    }

    .tablet-screen-experience {
        margin-left: 5%;
    }

    .tablet-screen-education {
        margin-left: 20%;
    }

    .box-info-first {
        grid-area: box-info-first;
        order: 2;
        text-align: left;
    }

    .box-icon-second {
        display: none;
    }

    .box-dot-third {
        display: none;
    }

    .box-dot-workexperience {
        display: none;
    }

    .box-date-fourth {
        grid-area: box-date-fourth;
        order: 1;
        width: 300px;
    }

    .box-date-workexperience {
        grid-area: box-date-workexperience;
        order: 1;
        border: 0;
        border-radius: 0;
        text-decoration: underline;
        background-color: #2e1f27;
        color: #92DCE5;
        margin-left: -5%;
    }

    .box-date-workexperience-education {
        background-color: #fafafa;
        text-decoration: none;
        color: #2e1f27;
    }

    .box-info-title-3s {
        font-size: 110%;
    }

    .box-info-company-name {
        font-size: 110%;
    }

    .social-box {
        margin-left: 10%;
    }

    .fa {
        font-size: 3em;
    }

    .social-box p {
        font-size: 20px;
    }

}

@media screen and (max-width: 455px) {

    #container h1,
    #container3 h1,
    #container5 h1 {
        font-size: 280%;
    }

    #container2 h1,
    #container4 h1 {
        font-size: 200%;
    }

    .tablet-screen-experience {
        margin-left: 5%;
    }

    .tablet-screen-education {
        margin-left: 20%;
    }

    .qualification-section {
        margin-left: 18%;
    }

    .heading-box {
        min-width: 90%;
    }

    .content-box-column {
        display: block;
        flex: 0;
        min-width: 200px;
    }

    .work-experience {
        width: 100%;
        text-align: left;
    }

    .box-info-first {
        grid-area: box-info-first;
        order: 2;
        text-align: left;
    }

    .box-icon-second {
        display: none;
    }

    .box-dot-third {
        display: none;
    }

    .box-dot-workexperience {
        display: none;
    }

    .box-date-fourth {
        grid-area: box-date-fourth;
        order: 1;
        width: 250px;
    }

    .box-date-workexperience {
        grid-area: box-date-workexperience;
        order: 1;
        border: 0;
        border-radius: 0;
        text-decoration: underline;
        background-color: #2e1f27;
        color: #92DCE5;
        margin-left: -5%;
    }

    .box-date-workexperience-education {
        background-color: #fafafa;
        text-decoration: none;
        color: #2e1f27;
    }

    .box-info-title-3s {
        font-size: 100%;
    }

    .box-info-company-name {
        font-size: 100%;
    }

}


@media screen and (max-width: 360px) {

    #container h1,
    #container3 h1,
    #container5 h1 {
        font-size: 250%;
    }

    #container2 h1,
    #container4 h1 {
        font-size: 150%;
    }

    .heading-box {
        min-width: 90%;
    }

    .content-box-column {
        display: block;
        flex: 0;
        min-width: 200px;
    }

    .work-experience {
        width: 100%;
        text-align: left;
    }

    .box-info-first {
        grid-area: box-info-first;
        order: 2;
        text-align: left;
    }

    .box-icon-second {
        display: none;
    }

    .box-dot-third {
        display: none;
    }

    .box-dot-workexperience {
        display: none;
    }

    .box-date-fourth {
        grid-area: box-date-fourth;
        order: 1;
        width: 250px;
    }

    .box-date-workexperience {
        grid-area: box-date-workexperience;
        order: 1;
        border: 0;
        border-radius: 0;
        text-decoration: underline;
        background-color: #2e1f27;
        color: #92DCE5;
        margin-left: -5%;
    }

    .box-date-workexperience-education {
        background-color: #fafafa;
        text-decoration: none;
        color: #2e1f27;
    }

    .box-info-title-3s {
        font-size: 100%;
    }

    .box-info-company-name {
        font-size: 100%;
    }

    .social-box {
        display: flex;
        flex-direction: column;
    }

    .social-box-padding {
        margin: auto;
        padding-bottom: 10%;
    }

    .small-screen-social {
        margin-left: 25%;
    }
}

