* {
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background: transparent;
    height: 100vh;
    width: 100vw;
}

@font-face {
    font-family: Pacifico;
    src: url("../../fonts/Pacifico-Regular.ttf");
}

@font-face {
    font-family: Nunito;
    src: url("../../fonts/Nunito-Regular.ttf");
    src: url("../../fonts/Nunito-Bold.ttf");
}

#container,
#container3,
#container5 {
    min-height: 10em;
    position: relative;
}

#container2,
#container4 {
    min-height: 10em;
    position: relative;
    background-color: #2e1f27;
}

#container h1,
#container3 h1,
#container5 h1 {
    position: absolute;
    color: #604f6f;
    top: 50%;
    left: 40%;
    transform: translate(0, -50%);
}

#container2 h1,
#container4 h1 {
    position: absolute;
    color: #fafafa;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
}


h1 {
    font-family: Pacifico, serif;
    max-width: 100%;
    font-size: 65px;
}

[class*="heading"] {
    margin-left: 10%;
}

.heading-titles {
    color: #92dce5;
    font-size: 120%;
    font-family: Nunito, bold, serif;
    margin-top: 20%;
}

.content-box-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
}

.content-box-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.content-box-column img {
    background: linear-gradient(to right, #604f6f, #92dce5);
    padding: 3px;
}

.heading-content {
    font-size: 120%;
}

.heading-box {
    grid-area: heading-box;
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15%;
    margin-top: 10%;
}


.arrow-down img {
    color: #92dce5;
    height: 50px;
    width: auto;
    position: absolute;
    top: 93vh;
    left: 52%;
}

.new-page {
    height: 100vh;
}

.second-page,
.fourth-page {
    background-color: #2e1f27;
}

.third-page,
.fifth-page {
    background-color: #fafafa;
}

.point-to-other-direction {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}


.work-experience {
    display: flex;
    color: #92dce5;
}

.headline {
    display: flex;
    grid-area: header;
    justify-content: center;
    align-items: center;
}

.content {
    grid-area: content;
    border: 1px solid grey;
}

.boxes {
    display: flex;
}

.box-info-first {
    flex-basis: 48%;
    display: flex;
    order: 1;
    padding-right: 20px;
    flex-direction: column;
    text-align: right;
}

.work-experience {
    display: flex;
    padding: 0 0 20px;
    position: relative;
}

.box-info-title {
    color: #fafafa;
}

.box-info-company-name {
    color: #92dce5;
}

.box-info-detail {
    color: #fafafa;
}

.box-icon-second {
    position: relative;
    flex-basis: 5%;
    order: 2;
}

.box-icon-second-detail {
    border: 3px #92DCE5 solid;
    background-color: #fafafa;
    border-radius: 70%;
    font-size: 2.3rem;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box-dot-third {
    order: 3;
    position: relative;
    flex-basis: 8%;
    display: flex;
    justify-content: center;
}

.box-dot-workexperience {
    width: 15px;
    height: 15px;
    position: absolute;
    border: 8px #92DCE5 solid;
    top: 20px;
    border-radius: 50%;
}

.box-date-fourth {
    order: 4;
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    align-items: flex-start;
    font-size: 120%;
}

.box-date-workexperience {
    display: inline-block;
    text-align: center;
    background-color: #92DCE5;
    color: #2e1f27;
    border: 1px #92DCE5 solid;
    border-radius: 30px;
    font-weight: 700;
    position: relative;
    padding: 15px;
    font-family: Nunito, serif;
}

@media screen and (min-width: 1440px) {
    #container,
    #container3,
    #container5 {
        min-height: 10em;
        display: block;
    }

    #container2 h1,
    #container4 h1 {
        left: 40%;
    }

    .heading-box {
        left: 45%;
        margin-top: 10%;
        min-width: 50%;

    }

    .heading-titles {
        margin-top: 10%;
    }

    .content-box-row {
        width: 80%;
    }

    .arrow-down img {
        left: 49%;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
    #container,
    #container3,
    #container5 {
        min-height: 10em;
    }

    #container2 h1,
    #container4 h1 {
        left: 35%;
    }

    .heading-box {
        left: 45%;
        margin-top: 17%;
        min-width: 50%;
    }

    .arrow-down img {
        left: 48%;
    }

}

@media screen and (max-width: 1200px) and (min-width: 960px) {
    #container,
    #container3,
    #container5 {
        min-height: 10em;
        position: relative;
    }

    #container h1,
    #container3 h1,
    #container5 h1 {
        left: 35%;
    }

    #container2 h1,
    #container4 h1 {
        left: 35%;
    }

    .heading-box {
        left: 40%;
        margin-top: 20%;
        width: 62%;
    }

    .arrow-down img {
        left: 48%;
    }
}

@media screen and (max-width: 960px) and (min-width: 768px) {
    #container,
    #container3,
    #container5 {
        min-height: 10em;
    }

    #container h1,
    #container3 h1,
    #container5 h1 {
        left: 30%;
    }

    #container2 h1,
    #container4 h1 {
        left: 20%;
    }

    .heading-box {
        margin-left: -36%;
        margin-top: 25%;
        min-width: 80%;
    }

    .arrow-down img {
        left: 47%;
    }
}

@media screen and (max-width: 768px) {
    #container h1,
    #container3 h1,
    #container5 h1 {
        left: 24%;
    }

    #container2 h1,
    #container4 h1 {
        font-size: 300%;
        left: 20%;
    }

    .heading-box {
        margin-left: -43%;
        margin-top: 30%;
        min-width: 90%;
    }

    .arrow-down img {
        left: 47%;
    }
}

@media screen and (max-width: 610px) {
    #container,
    #container3,
    #container4 {
        min-height: 6em;
    }

    #container h1,
    #container3 h1,
    #container5 h1 {
        font-size: 300%;
        left: 25%;
    }

    #container2 h1,
    #container4 h1 {
        font-size: 250%;
        left: 15%;
    }

    .small-screen {
        display: grid;

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
                "box-date-workexperience box-date-workexperience box-date-workexperience"
                "box-date-fourth box-date-fourth box-date-fourth"
                "box-info-first box-info-first box-info-first";
    }

    .heading-box {
        margin-left: -43%;
        margin-top: 30%;
        min-width: 90%;
    }

    .arrow-down img {
        left: 45%;
    }

    .content-box-column {
        flex: 0;
    }

    .work-experience {
        width: 100%;
    }

    .box-info-first {
        grid-area: box-info-first;
        order: 2;
        text-align: left;
    }

    .box-icon-second {
        display: none;
    }

    .box-dot-third {
        display: none;
    }

    .box-dot-workexperience {
        display: none;
    }

    .box-date-fourth {
        grid-area: box-date-fourth;
        order: 1;
        width: 300px;
    }

    .box-date-workexperience {
        grid-area: box-date-workexperience;
        order: 1;
        border: 0;
        border-radius: 0;
        text-decoration: underline;
        background-color: #2e1f27;
        color: #92DCE5;
        margin-left: -5%;
    }
}

@media screen and (max-width: 455px) {
    #container,
    #container3,
    #container4 {
        min-height: 6em;
    }

    #container h1,
    #container3 h1,
    #container5 h1 {
        font-size: 300%;
        left: 10%;
    }

    #container2 h1,
    #container4 h1 {
        font-size: 200%;
        left: 10%;
    }


    .heading-box {
        margin-left: -43%;
        margin-top: 30%;
        min-width: 90%;
    }

    .arrow-down img {
        left: 45%;
    }

    .content-box-column {
        display: block;
        flex: 0;
        min-width: 200px;
    }

    .work-experience {
        width: 100%;
        text-align: left;
    }
    .box-info-first {
        grid-area: box-info-first;
        order: 2;
        text-align: left;
    }

    .box-icon-second {
        display: none;
    }

    .box-dot-third {
        display: none;
    }

    .box-dot-workexperience {
        display: none;
    }

    .box-date-fourth {
        grid-area: box-date-fourth;
        order: 1;
        width: 250px;
    }

    .box-date-workexperience {
        grid-area: box-date-workexperience;
        order: 1;
        border: 0;
        border-radius: 0;
        text-decoration: underline;
        background-color: #2e1f27;
        color: #92DCE5;
        margin-left: -5%;
    }
}


@media screen and (max-width: 360px) {
    #container,
    #container3,
    #container5 {
        min-height: 6em;
    }

    #container2,
    #container4 {
        min-height: 6em;
    }

    #container h1,
    #container3 h1,
    #container5 h1 {
        font-size: 250%;
        left: 5%;
    }

    #container2 h1,
    #container4 h1 {
        font-size: 150%;
        left: 13%;
    }

    .heading-box {
        margin-top: 30%;
        min-width: 90%;
    }

    .content-box-column {
        display: block;
        flex: 0;
        min-width: 200px;
    }

    .arrow-down img {
        left: 45%;
    }


    .work-experience {
        width: 100%;
        text-align: left;
    }
    .box-info-first {
        grid-area: box-info-first;
        order: 2;
        text-align: left;
    }

    .box-icon-second {
        display: none;
    }

    .box-dot-third {
        display: none;
    }

    .box-dot-workexperience {
        display: none;
    }

    .box-date-fourth {
        grid-area: box-date-fourth;
        order: 1;
        width: 250px;
    }

    .box-date-workexperience {
        grid-area: box-date-workexperience;
        order: 1;
        border: 0;
        border-radius: 0;
        text-decoration: underline;
        background-color: #2e1f27;
        color: #92DCE5;
        margin-left: -5%;
    }

    [class*="heading"] {
        left: 50%;
    }
}