@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   font-family: 'Montserrat', sans-sherif;

}
body{
    background: #585c68;
    font-size: 14px;
    line-height: 22px;
    color: #555555;

}
.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
.semi-bold{
    font-weight: 500;
    font-size: 16px;
    color: rgb(35, 37, 35);

}
.resum{
    display: grid;
    width: auto;
    height: auto;
    display: flex;
    margin:  auto;

}
.resum .resum_left{
    width: 350px;
    background: #ccf187;
    

}
.resum .resum_left .resum_profile{
    width: 350px;
    height: 400px;

}
.resum .resum_left .resum_profile img{
    width: 100%;
    height: 100%;

}
.resum .resum_left .resum_content{
    padding: 0 25px;
    
}
.resum .title{
    margin-bottom: 20px;
}
.resum .resum_left .bold  {
    color: #fff;
}
.resum .resum_left .regular{
    color: rgb(35, 37, 35);
}
.resum .resum_item{
    padding: 25px 0;
    border-bottom: 3px solid #70a018;

}
.resum .resum_left .resum-item:last-child
{
    border-bottom: 0px;
}
.resum .resum_left ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.resum .resum_left ul li:last-child{
    margin-bottom: 0;
}
.resum .resum_left ul li .icon{
    width: 35px;
    height: 35px;
    background: #fff;
    color: #70a018;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
}
.resum .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.resum .resum_left ul li .data{
color: b1eaff;
}
.resum .resum_right{
    width: 80%;
    background: #fff;
    padding: 25px;
}
.resum .resum_right .bold{
    color: #70a018;
}
.resum .resum_right .resum_education ul,
.resum .resum_right .resum_work ul{
    padding-left: 40px;
    overflow: hidden;
}
.resum .resum_right ul li{
    position: relative;
}
.resum .resum_right ul li .date{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}
.resum .resum_right ul li .info{
    margin-bottom: 20px;
    
}
.resum .resum_right ul li:last-child .info{
    margin-bottom: 0;
} 
.resum .resum_right .resum_education ul li:before,
.resum .resum_right .resum_work ul li:before{
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #70a018;
}
@media only screen and (max-width: 960px){
    
.resum{
    display: grid;
    width: auto;
    height: auto;
    display: flex;
   
}
 .resum .resum_left {
     width: 320px;
    
    
}
.resum .resum_left .resum_profile{
    width: 320px;
    height: 400px;

}

@media only screen and (max-width: 670px){
    
    

.resum .resum_left .resum_profile{
    width: 100%;
}

.resum .resum_left .resum_profile img{
    width: 100%;
    height: 70%;

}


}
}