* {
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    font-family: Didot, serif;
}

@font-face {
    font-family: Didot;
    src: url("../../fonts/Didot-Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
}

.menu {
    grid-area: menu;
    background-color: #646363;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    width: 25%;
    font-size: 16px;
    position: absolute;
    text-align: center;
    background-color: #92DCE5;
    border-radius: 10px;
}

.menu-choice {
    display: inline-block;
    padding: 5% 30% 5% 30%;
    color: #92DCE5;
    grid-column: auto;
    word-break: keep-all;
    text-decoration: none;
    text-align: center;
}

.menu-choice:hover {
    text-decoration: underline;
}

.bold-and-big {
    font-weight: bold;
    font-size: 1.5em;
}

ul {
    display: none;
    margin-top: 0;
    margin-bottom: 0;
    word-break: keep-all;

}

ul a {
    word-break: keep-all;
    display: flex;
}

.borders {
    border: 10px solid transparent;
    border-radius: 5px;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.border-animation {
    position: relative;
    background-image: linear-gradient(0deg, #92DCE5, #fafafa);
    box-shadow: 1px 5px 15px rgb(0, 0, 0);
}

.border-animation:before,
.border-animation:after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background: linear-gradient(to right, #333333, #333333);

    background-size: 400%;
    z-index: -1;
    animation: animate 20s linear infinite;
    border-radius: 15px;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 300% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.border-animation:after {
    filter: blur(40%);
}

.add-border-animation-color {
    background: linear-gradient(to right, #2980b9, #6dd5fa, #92DCE5, #2980b9);
    background-size: 400%;
    z-index: 1;
    animation: animate 20s linear infinite;
    border-radius: 15px;
}


@media only screen and (max-width: 1440px) {
    .menu-choice {
        padding: 5% 20% 5% 20%;
    }
    nav {
        font-size: 16px;
        width: 30%;
    }

}

@media only screen and (max-width: 960px) {

    .menu-choice {
        padding: 5% 20% 5% 20%;
    }
    nav {
        font-size: 16px;
        width: 40%;
    }

}

@media only screen and (max-width: 670px) {

    .menu-choice {
        padding: 5% 20% 5% 20%;
    }
    nav {
        font-size: 16px;
        width: 50%;
    }
}

@media only screen and (max-width: 420px) {

    .menu-choice {
        padding: 5% 20% 5% 20%;
    }
    nav {
        font-size: 16px;
        width: 90%;
    }
}
